.global-notification {
	a {
		text-decoration: underline;
	}

	& .close-icon {
		top: 0%;
		right: 0%;
		transform: translate(-100%, 100%);
		cursor: pointer;
	}
}

@media screen and (max-width: 850px) {
	.message {
		margin-top: 25px;
	}
}
